<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/Styles/main.css" rel="stylesheet" />
    <link href="/Styles/Navbar.css" rel="stylesheet" />
    <title>Warehouse</title>
  </head>

  <body>
    <!-- NAV BAR -->
    <a href="#main-content" class="skip-link sr-only focus:not-sr-only"
      >Skip to main content</a
    >
    <div id="navbar-placeholder"></div>

    <main id="main-content" class="container mx-auto p-4">
      <a href="#">
        <h1 class="text-xl font-semibold text-blue-700 hover:underline">
          Inventory
        </h1>
      </a>
    </main>
    <script src="/Scripts/Navbar.js"></script>
  </body>
</html>
