<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/Styles/main.css" rel="stylesheet" />
    <title>Java Script</title>
</head>

<body class="h-full bg-gray-100 flex flex-col min-h-screen">
    <a href="#main-content" class="skip-link sr-only focus:not-sr-only">Skip to main content</a>


    <main class="container m-auto" id="main-content">
        <section>
            <div class="flex flex-col p-4 m-4">
                <p>Factory functions</p>
                <p>
                <pre>
                    function creatObject(att){
                        return {
                            att,
                            draw(){
                                console.log("draw");
                            }
                        }
                    }

                    const object = creatObject(att);
                    </pre>
                </p>
            </div>

            <div class="flex flex-col p-4 m-4">
                <p>Constructor functions</p>
                <p>
                <pre>
                    function CreatObject(att){
                        this.att = att
                        this.draw = function (){
                                console.log("draw");
                            }
                        }

                        const object = new CreatObject(att);
                    </pre>
                </p>
            </div>

        </section>
    </main>
    <script src="/Scripts/main.js"></script>
</body>
</html>