<section id="abouttext" class="mb-8">
  <h2 class="text-2xl font-bold mb-2">About Project Gaia</h2>
  <p>
    Project Gaia is a digital assistant I designed to help me manage what's
    remaining of my life—both work and personal.
  </p>
</section>

<section class="mb-8">
  <h2 class="text-2xl font-bold mb-2">Get Started</h2>
  <p>I'm starting today: June 22, 2025.</p>
  <p>
    Day 1 (June 22): Starting by gathering all my old JavaScript projects and
    combining them into one.
  </p>
  <p>Day 2 (June 23): index.html cleanning up and understand the code better</p>
  <p>
    Day 30 (June 27): index.html is now a one page app and all pages load into
    it
  </p>
</section>
